<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skandiacup.splinedevelopment.skandiacup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TournamentActivity"
            android:label="@string/title_activity_tournament"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SocialActivity"
            android:label="@string/title_activity_social"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EndplayActivity"
            android:label="@string/title_activity_endplay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FieldsActivity"
            android:label="@string/title_activity_fields"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsItemActivity"
            android:label="@string/title_activity_news_item" />
        <activity
            android:name=".TeamActivity"
            android:label="@string/title_activity_team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MatchClassActivity"
            android:label="@string/title_activity_match_class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MatchViewActivity"
            android:label="@string/title_activity_match_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
